.codeEditorPanel
{
    width: 650px;
    height: 300px;
    padding: 10px;
    margin: 0px auto;
}

.editor{
    position: relative;
    margin: 10;
    border-radius: 10px;
    background-color: black;
    width: 50%;
    height: 100%;
    float: left;
}

.preview{
    position: relative;
    background-color: transparent;
    width: 50%;
    height: 100%;
    float: Right;
}

.errorview{
    float: right;
    position: relative;
    display:  none;
    height: 100%;
    width: 50%;
    background-color: rebeccapurple;
}